.formulario{
    display: flex;
    justify-content: center;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: solid 1px black;
    width: 100%;
}

.formulario__titulo{
    text-align: center;
    font-size: 3rem;
    margin: 20px;
}

.lista_formulario li{
    
    list-style: none;
    padding: 50px;
}