footer{
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    border: solid 1px black;

}

footer a:hover{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition-property: all;
    transition-duration: 1s;
    
}

footer a{
    color: black;
    font-size: 20px;
}

@media(max-width: 860px){
    footer{
        flex-direction: column;
    }

    footer a{
        margin: 10px;
    }
}
